* {
    margin: 0px;
    padding: 0px;
}

.time {
    list-style: none;
}

body {
    background: #ffefe0;
    display: grid;
    align-items: center;
    margin-top: 0px;
}

.imagemteste {
    width: 100%;
}

.countdown {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    justify-content: center;
    gap: 5px;
    padding: 5px;
    margin-top: 0px;
    background-color: #ffefe0;

}

.countdown li {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 25px;
    padding: 1rem;
    color: rgb(255, 255, 255);
    background-color: #6ba562;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #247217;
    text-align: center;
    margin: 0px;

}

.countdown li span {
    font-style: normal;
    font-size: larger;
}
